#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #777;
    font-size: 25px;
}

.floating-area {
    z-index: 1;
    width: 350px;
    height: auto;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0px 0px 4px 1px #777;
    border-radius: 5px;
}

#connectionStatus {
    width: 70px;
    height: 14px;
    font-size: 12px;
    color: #fff;
    padding: 5px;
    top: 5px;
    position: absolute;
    text-align: center;
    right: 5px;
}

.red-box {
    background: rgb(165, 67, 60);
}

.green-box {
    background: rgb(60, 165, 60);
}

.wrapper {
    width: 50%;
    padding: 10px;
    background: #fff;
    border: 1px solid #ededed;
    box-shadow: 0px 0px 5px 2px #777;
    border-radius: 3px;
    margin-top: 22px;
}

.input-wrapper {
    padding: 10px;
}

.input-wrapper input {
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.input-wrapper label {
    display: block;
    color: #777;
    text-align: left;
}

.button {
    border: 1px solid #ccc;
    padding: 8px;
    background: #ededed;
    color: #777;
    width: 100px;
    font-size: 15px;
    box-shadow: 0px 0px 5px 1px #ededed;
    cursor: pointer;
    position: relative;
}

.button:hover {
    border: 1px solid #ededed;
    background: #ccc;
}

#locationList {
    margin-top: 30px;
    padding: 5px;
    color: #777;
    font-size: 15px;
    line-height: 20px;
    max-height: 600px;
    overflow-y: auto;
}

.half {
    width: 50% !important;
}